{% extends "base.html" %}

{% block title %}Mon compte {% endblock %}

{% block body %}

<div class="container admin-dashboard">
    <div class="row gx-5">
        <div class="admin-dashboard-data col col-md-4">
            <div>
                <h2>Nombre Articles</h2>
                <p>{{ nbArt }}</p>
            </div>
        </div>
        <div class="admin-dashboard-data col col-md-4">
            <div>
                <h2>Nombre Users</h2>
                <p>{{ nbUsers }}</p>
            </div>
        </div>
        <div class="admin-dashboard-data col col-md-4">
            <div>
                <h2>Visite aujourd'hui</h2>
                <p>{{ nbTodaysUser }}</p>
            </div>
        </div>
    </div>

    <div class="admin-user-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in listUser %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td style="width: 100%"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
