{% extends "base.html" %}

{% block title %}Mon compte {% endblock %}

{% block body %}

<div class="account-wrapper">

    <div class="container-fluid account-header">
        <h1>
            {{ user.username }}
        </h1>
    </div>


    <div class="container">
        <div class="content-block">
            <div class="cb-header">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Plus récent <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="cv cvicon-cv-relevant"></i> Popularité</a>
                    <a class="dropdown-item" href="#"><i class="cv cvicon-cv-calender"></i> Plus récent</a>
                </div>
            </div>

            <div class="cb-content articlelist">
                {% if articles | length == 0 %}
                    <div class="text-center py-4">
                        <h2>Vous n'avez aucun article !</h2>
                        <a href="/product" class="btn btn-secondary">Commencer à vendre</a>
                    </div>
                {% endif %}

                <div class="row">
                    {% for article in articles %}
                    <div class=" col-lg-3 col-sm-6 articleitem">
                        <div class="b-article">
                            <div class="v-img">
                                <a
                                        href="{{ ('/product/' ~ article.id) }}"><img
                                        src="{{ ('/storage/' ~ article.picture) }}" alt=""></a>
                            </div>
                            <div class="v-desc">
                                <a href="{{ ('/product/' ~ article.id) }}">{{ article.name }}</a>
                            </div>
                            <div class="v-views">
                                {{article.views}} vues
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
