{% extends "base.html" %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container">
    <div class="contact-wrapper">
        <h1>Contacter {{ article.username }}</h1>

        <div class="row contact-grid">
            {% if message is not null and message.type == 'success' %}
            <div class="col-12 alert alert-success">
                {{ message.body }}
            </div>
            {% endif %}
            {% if message is not null and message.type == 'danger' %}
            <div class="col-12 alert alert-danger">
                {{ message.body }}
            </div>
            {% endif %}
            <div class="col-12 col-lg-6">
                <div class="contact-article-image">
                    <img src="{{ ('/storage/' ~ article.picture) }}" />
                </div>
                <h2>{{ article.name }}</h2>
                <p>{{ article.description }}</p>
            </div>
            <form class="col-12 col-lg-6" action="" method="post">
                <div class="form-group">
                    <label for="name">Nom:</label>
                    <input type="text" value="{{ inputs.name|default('') }}" name="name" id="name" placeholder="Nom complet">
                    <small>{{ errors.name|default('') }}</small>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" value="{{ inputs.email | default('') }}" placeholder="Adresse Email">
                    <small>{{ errors.email|default('') }}</small>
                </div>

                <div class="form-group">
                    <label for="subject">Sujet:</label>
                    <input type="text" name="subject" id="subject" value="{{ inputs.subject | default('') }}" placeholder="Demande concernant...">
                    <small>{{ errors.subject|default('') }}</small>
                </div>

                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="5">{{ inputs.message|default('') }}</textarea>
                    <small>{{ errors.message|default('') }}</small>
                </div>

                <button type="submit" class="btn btn-primary u-btn">Envoyer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
